<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Placa</th>
          <th scope="col">Chassi</th>
    		  <th scope="col">Renavam</th>
    		  <th scope="col">Modelo</th>
    		  <th scope="col">Marca</th>
    		  <th scope="col">Ano</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let veiculo of veiculos">
          <td>{{ veiculo.id }}</td>
          <td>{{ veiculo.placa }}</td>
		      <td>{{ veiculo.chassi }}</td>
          <td>{{ veiculo.renavam }}</td>
    		  <td>{{ veiculo.modelo }}</td>
    		  <td>{{ veiculo.marca }}</td>
    		  <td>{{ veiculo.ano }}</td>
          <td>
            <a routerLink="/veiculo/{{ veiculo.id }}" class="btn btn-info">Editar</a>
            -
            <a routerLink="/remover/{{ veiculo.id }}" class="btn btn-info">Remover</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>